.tuerkis {
    background-color: #47a6c0!important;
}

.new-green {
    background-color: #99cc4d!important;
}

.btn-new-green {
    background-color: #99cc4d!important;
    color: #fff!important;
}

.font-default {
    color: #212529 !important;
}

.border-grey-light{
    border-color: #f8f9fa;
}

.nav-tabs .nav-item .nav-link {
    color: #212529;
}

.nav-tabs .nav-item .nav-link.active{
    background-color: #99cc4d!important;
    color: #ffffff!important;
}

.form-error input{
    border-bottom: 1px solid red !important;
}


.btn-outline-new-green {
    border: 2px solid #99cc4d !important;
    background-color: transparent !important;
    color: #99cc4d !important;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}


.fab {
    display:block;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 28px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;

    position: fixed;
    right: 30px;
    bottom: 50px;
}

.fab-new-green{
    background-color: #99cc4d!important;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
    color: #ffffff;
}

.fabsmall {
    display:block;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 #666;
    transition: all 0.1s ease-in-out;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 36px;
}


.fab2{
    position: fixed;
    right: 35px;
    bottom: 110px;
}
.fab3{
    position: fixed;
    right: 35px;
    bottom: 160px;
}
.fab4{
    position: fixed;
    right: 35px;
    bottom: 210px;
}

.fab5{
    position: fixed;
    right: 35px;
    bottom: 260px;
}

.fab6{
    position: fixed;
    right: 35px;
    bottom: 310px;
}

.fabsmall .fa{
    font-size: 20px;
}

#signature-pad {
    border-left: 1px solid #d3ccbf;
    border-right: 1px solid #d3ccbf;
    border-bottom: 1px solid #d3ccbf;
    padding-bottom: 20px;
}



